.header {
  background-color : #21487b;
  color: white;
  height: 10vw;
}

.name {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
  margin-right: 20px;
}

.logo img {
  width: 100px;

}

.title {
  font-size: 2em;
}

.tagline {
  font-size: .9em;
  line-height: 1em;
  border-top: solid 1px white;
  padding-top: 5px;
  width: 430px;
  display: inline;
}

.table-of-contents {
  background-color: #0e2949;
  height: 80px;
}

.toc-line-blue {
  background-color: red;
  /* background-color: #0e2949; */
  height: 20px;
}
