<app-navbar></app-navbar>
<div class="header">
  <div class="logo"><img src="assets/img/us-state.png"></div>
  <div class="name">
    <div class="title">Travel.State.Gov</div>
    <div class="tagline">U.S.DEPARTMENT OF STATE -- BUREAU OF CONSULAR AFFAIRS</div>
  </div>
</div>
<div class="table-of-contents">
  <ul>
    <li><h4 [class]="tocClick()">U.S. Passports</h4></li>
    <li><h4 [class]="tocClick()">International Travel</h4></li>
    <li><h4 [class]="tocClick()">U.S. Visas</h4></li>
    <li><h4 [class]="tocClick()">Intercountry Adoption</h4></li>
    <li><h4 [class]="tocClick()">International Parental Child Abduction</h4></li>
  </ul>
</div>
<div class="toc-line-blue">

</div>
