<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <div class="footer-title">
        <h4>Travel.State.Gov</h4>
      </div>
      <ul>
        <li>Travel.State.Gov</li>
        <li>U.S. Passports</li>
        <li>International Travel</li>
        <li>U.S. Visas</li>
        <li>Intercountry Adoption</li>
        <li>International Parental Child Abduction</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="footer-title">
        <h4>Popular Links</h4>
      </div>
      <ul>
        <li>Home</li>
        <li>Travel Advisories</li>
        <li>Newsroom</li>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Careers</li>
        <li>Find U.S. Embassies & Consulates</li>
      </ul>
    </div>
    <div class="col">
      <div class="footer-title">
        <h4>Stay Connected</h4>
      </div>
      <div class="footer-title">
        <h4>Legal Resources</h4>
      </div>
    </div>
  </div>
</div>
