<div id="visa" class="visa">
  <div class="visa-header">
    <h2>U.S. Visas</h2>
  </div>
  <div class="visa-body">
    <div class="row">
      <div class="col-md-8">
        <div class="visa-splash">
          <h3>Start your Journey.</h3>
        </div>
        <h4>What is a U.S. Visa?</h4>
        <p>A citizen of a foreign country who seeks to enter the United States generally must first obtain a U.S. visa, which is placed in the traveler’s passport, a travel document issued by the traveler’s country of citizenship.</p>

        <p>Certain international travelers may be eligible to travel to the United States without a visa if they meet the requirements for visa-free travel. The Visa section of this website is all about U.S. visas for foreign citizens to travel to the United States.</p>

        <p>(Note: U.S. citizens don’t need a U.S. visa for travel, but when planning travel abroad may need a visa issued by the embassy of the country they wish to visit. In this situation, when planning travel abroad, learn about visa requirements by country, see country information in the International Travel Section section of this website.)</p>
      </div>
      <div class="col-md-4">
        <h3>Need Help Getting Started?</h3>
        <p>Many non-U.S. citizens need a visa to enter the United States to visit, work, and live. Why do you want to travel to the United States? Please try our Visa Wizard.</p>
      </div>
    </div>
  </div>
</div>
