.navbar {
  background-color: #0e2949;
  color: #a4aeba;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 100%;
}

.navbar-links {
  position: absolute;
  top: 35px;
  right: 20px;
}

.navbar ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flag-link {
  text-align: left;
  float: left;
  padding: 0px;
  margin: -28px 0px 0px 3px;
  font-size: .8em;
  line-height: 1.1em;
  width: 126px;
}

.navbar a {
  color: #919ba7;
  padding: 0px 5px;
  font-size: .9em;
}

.navbar li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;


}

.navbar li img {
  width: 37px;
  margin: 2px 7px 0px 2px;
}

/* .flag {
  float: left;
  background-image: url('../../assets/icons/united-states.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 28px;
  width: 37px;
  margin: 2px 7px 0px 2px;
} */
