<div class="passport">
  <div class="passport-header">
    <h2>U.S. Passports</h2>
  </div>
  <div class="passport-body">
    <div class="row">
      <div class="col-md-8">
        <div class="passport-splash">
          <h3>A U.S. Passport is our key to the world.</h3>
          <h3>Get yours today!</h3>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>How to Apply for or Renew your Passport</p>
          </div>
          <div class="feature-body">
            <p>Learn <a href="#">How to Apply for your Passport</a></p>
          </div>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>How to Apply for or Renew your Passport</p>
          </div>
          <div class="feature-body">
            <p>Learn <a href="#">How to Apply for your Passport</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
