<div id="passport" class="passport">
  <div class="passport-header">
    <h2>U.S. Passports</h2>
  </div>
  <div class="passport-body">
    <div class="row">
      <div class="col-md-8">
        <div class="passport-splash">
          <h3>A U.S. Passport is our key to the world.</h3>
          <h3>Get yours today!</h3>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>How to Apply for or Renew your Passport</p>
          </div>
          <div class="feature-body">
            <p>Learn <a href="#">How to Apply for your Passport</a></p>
          </div>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>Fees for your Passport</p>
          </div>
          <div class="feature-body">
            <p>Find the cost for your passport and payment methods on <a href="#">Passport Fees</a>.</p>
          </div>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>Track your Application</p>
          </div>
          <div class="feature-body">
            <p>If you've already submitted your passport application, you can <a href="#">Find your Application Status</a>.</p>
          </div>
        </div>
        <div class="feature-box">
          <div class="feature-header">
            <p>Your Passport Forms</p>
          </div>
          <div class="feature-body">
            <p>Use our passport <a href="#">Form Finder</a> to make sure you're using the right form. If you already know the form you need, see <a href="#">Passport Forms</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="side">
          <div class="contact btn btn-primary">
            <p>Informacion en espanol</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
